
.home {
    text-align: center;
}

.home_message h1 {
    color: #ff0000;
}

.home_message p {
    color: #000000;
}

.home_options {
    text-align: center;
    margin: 20px;
}

.home_options * {
    margin: 5px;
}

.home_options ul {
    margin: 0px;
    padding: 0px;
}

.home_options .col1 {
    display: flex;
    justify-content: center;
    list-style: none;
}

.home_options .col1 li {
    width: 90%;
}

.home_options .col2 {
    list-style: none;
    display: flex;
    justify-content: center;
}

.home_options .col2 li {
    margin-left: 20px;
    margin-right: 20px;
    width: 40%;
}

.home_options .button {
    transition: transform 1s;
}

.home_options .button:hover {
    text-decoration: none;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.background {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 100vh;
}

