
.date-range-pickers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagebody * {
    margin-bottom: 5px;
}

.pagebody .button {
    width: 100%
}

.date-range-pickers * {
    margin: 5px;
}

.company-info-container *{
    font-size: 20px;
}


