.ag-cell-focus, .ag-cell-no-focus {
    border: none !important;
}

.ag-header-cell-label {
    justify-content: center;
}

.pagebody {
    text-align: center;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.search_section {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

.search_section * {
    text-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
}
